In [15]:
import numpy as np
from pandas import Series, DataFrame

# 用字典生成DataFrame, key为列的名字
data = {'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year':[2000, 2001, 2002, 2001, 2002],
        'pop':[1.5, 1.7, 3.6, 2.4, 2.9]}
print(DataFrame(data))
print(DataFrame(data, columns = ['year', 'state', 'pop'])) # 指定列顺序
print('')

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [17]:
# 指定索引，在列中指定不存在的列，默认数据用NaN
frame2 = DataFrame(data,
                      columns = ['years', 'state', 'pop', 'debt'],
                      index = ['one', 'two', 'three', 'four', 'five']
                  )
print(frame2)
print(frame2['state'])
print(frame2.years)
print(frame2.ix['three'])
frame2['debt'] = 16.5 # 修改一整列
print(frame2)
frame2.debt = np.arange(5) # 用numpy数组修改元素
print(frame2)
print('')

      years   state  pop debt
one     NaN    Ohio  1.5  NaN
two     NaN    Ohio  1.7  NaN
three   NaN    Ohio  3.6  NaN
four    NaN  Nevada  2.4  NaN
five    NaN  Nevada  2.9  NaN
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
one      NaN
two      NaN
three    NaN
four     NaN
five     NaN
Name: years, dtype: object
years     NaN
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object
      years   state  pop  debt
one     NaN    Ohio  1.5  16.5
two     NaN    Ohio  1.7  16.5
three   NaN    Ohio  3.6  16.5
four    NaN  Nevada  2.4  16.5
five    NaN  Nevada  2.9  16.5
      years   state  pop  debt
one     NaN    Ohio  1.5     0
two     NaN    Ohio  1.7     1
three   NaN    Ohio  3.6     2
four    NaN  Nevada  2.4     3
five    NaN  Nevada  2.9     4

C:\Users\QianGuang Lin\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

In [18]:
# 用Series指定要修改的索引及其对应的值，没有指定的默认数据用NaN
val = Series([-2,-1.5,-1.7], index = ['two', 'four', 'five'])
frame2['debt'] = val
print(frame2)
print('')

      years   state  pop  debt
one     NaN    Ohio  1.5   NaN
two     NaN    Ohio  1.7  -2.0
three   NaN    Ohio  3.6   NaN
four    NaN  Nevada  2.4  -1.5
five    NaN  Nevada  2.9  -1.7

In [19]:
# 赋值给新列
frame2['eastern'] = (frame2.state == 'Ohio') # 如果state等于Ohio为True
print(frame2)
print(frame2.columns) # 列
print('')

      years   state  pop  debt  eastern
one     NaN    Ohio  1.5   NaN     True
two     NaN    Ohio  1.7  -2.0     True
three   NaN    Ohio  3.6   NaN     True
four    NaN  Nevada  2.4  -1.5    False
five    NaN  Nevada  2.9  -1.7    False
Index(['years', 'state', 'pop', 'debt', 'eastern'], dtype='object')